.overview-container {
  margin: 0 auto;
}

.overimg {
  width: 750px !important;
  height: 400px !important;
  object-fit: cover;
  border-radius: 10px;
}

.overview-paragraph {
  text-align: center;
  margin-top: 20px;
}

.box-container {
  background-color: #d1e2e5;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.line {
  display: flex;
  align-items: center;
}

.check-icon {
  color: green;
  margin-right: 10px;
}

.slick-dots {
  display: none !important;
}

.custom-dots li {
  cursor: pointer;
  font-weight: bold;
  color: #000;
}

.custom-dots li.focus {
  text-decoration: underline;
}

.custom-dots {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.custom-dots li {
  margin: 0 5px;
}

.custom-dots .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-dots .circle.active {
  background-color: #e58e0b;
}

.custom-dots .circle:hover {
  background-color: #ff6600;
}


.slider-pagination {
  margin-top: -10px;
}

@media (max-width:567px) {
  .overimg {
    width: 100% !important;
  }
}