.App {
  text-align: center;

}

.main-color {
  color: #E07026;
}

.btn-main {
  background-color: #E07026 !important;
  color: #fff !important;
  border: none;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: #E07026;
  padding: 0px 7px;
  color: white;
  border-radius: 50%;
  font-size: 12px;
}

.fa-cart-shopping {
  font-size: 20px;
}

.swal-orange-title {
  color: #E07026;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 50% !important;
  height: 90vh;
  overflow-y: auto;
  margin: auto !important;
  text-align: center;
  margin-top: 2.5% !important;
}

.close {
  font-size: 30px;
  cursor: pointer;
  color: red;
  text-align: right;
  margin-bottom: 10px;
}

.css-1usuzwp-MuiButtonBase-root-MuiTab-root,
.css-6p016c {
  margin-left: 5px !important;
}

.css-1gsv261 {
  border-bottom: none !important;
}

.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected,
.css-6p016c.Mui-selected {
  background-color: #E07026 !important;
  color: #fff !important;
  border-radius: 5px;
}

select {
  -webkit-appearance: menulist-button !important;
  -moz-appearance: menulist-button !important;
  appearance: menulist-button !important;
}

.css-1qltlow-MuiTabs-indicator,
.css-jkmkwa {
  background-color: #fff !important;
}

.booking-details p {
  font-size: 16px;
  margin: 8px 0;
}

.btn-primary {
  background-color: #094e6c !important;
  color: #fff !important;
  border: none;
}

body {
  font-family: "Roboto", serif;
}

.error-log {
  color: red;
  margin-top: 7px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* start spinner  */
.container-spinner {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(234, 237, 237, 0.521);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.spinner {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 4px solid #f47732;
  border-top: 4px solid #fff;
  animation: rotate-spinner 1s linear infinite;
}

@keyframes rotate-spinner {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);

    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ticket-card {
  transition: all 0.3s ease-in-out;
}

.ticket-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* تأثير خفيف حول العنصر */
  transform: scale(1.1);
  /* تأثير الانتقال */
}

.css-3hpdci-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.css-124afma.Mui-completed,
.css-124afma.Mui-active,
.css-3hpdci-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #f47732 !important;
}

.ticket-price {
  background-color: #fff;
  border-bottom-right-radius: 10px !important;
  color: #f47732;
  padding: 5px 20px 10px;
  text-align: center !important;
}

.ticket-price p:nth-of-type(1) {
  color: #727070;
  font-weight: 700;
}

.ticket-price p:nth-of-type(2) {
  color: #f47732;
  font-weight: 700;
  /* font-size: 18px; */
}

.program .ticket a {
  bottom: 7px;
  text-transform: capitalize;
  color: #f47732;
  font-weight: 600;
  font-size: 17px;
}

.btn-warning {
  background-color: #FFC439 !important;
  color: white !important;
}

.banner-img {
  background: linear-gradient(to right, #00000080, #00000080), url("../public/1.jpg");
  height: 450px;
  background-position: center;
  background-size: cover;
}

.banner-img h2 {
  font-size: 50px;
}

.login-edit {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.all-login {
  background: linear-gradient(to right, rgba(255, 0, 0, 0.151), rgba(255, 0, 0, 0.212)), url(../public/Login.jpg);
  height: 600px;
  background-position: center;
  background-size: cover;
}


.booking-summary,
.user-details {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.219);
  padding: 10px 100px;
  width: 100%;
}

.fa-cart-shopping:hover {
  border-bottom: 1px solid orange;
  color: orange;
}

.fa-cart-shopping:focus {
  color: orange !important;
  border-bottom: solid 1px orange !important;
}

.card-btn {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  color: white;
  background-color: #094e6c;
  font-weight: 600;
  border: none;
  font-size: 17px;
}

.card-btn-clear {
  background-color: #E07026;
}

.remove-icon-card {
  color: white;
  /* opacity: .8; */
  cursor: pointer;
  font-size: 20px;
  transition: all .5s ease;
  z-index: 100;
  background-color: rgba(14, 13, 13, 0.692);
  padding: 1px 10px;
  border-radius: 50%;

}

.remove-icon-card:hover {
  color: red;
}

.ticket-img {
  position: relative;
}

.ticket-img::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.103);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #E07026;
  padding-top: 5%;
  padding-bottom: 6.6%;
}

.css-1lt5qva-MuiCardContent-root:last-child,
.css-1lt5qva-MuiCardContent-root {
  padding: 10px !important;
}

@media(max-width:768px) {
  .all-login {
    background: none;
    height: auto;
  }

  .card-btn {
    width: 100%;
  }

  .login-form {
    height: 100% !important;
  }

  .banner-img {
    height: 350px;
  }

  .banner-img h2 {
    font-size: 30px;
  }

  .pay-btn {
    display: block !important;
    width: 100%;
  }

  .navbar-expand .navbar-nav {
    flex-wrap: wrap;
  }
}